.idea/**
.venv
media/
db.sqlite3
core/__pycache__/
multiav_project/__pycache__/
scanner/migrations/__pycache__/
scanner/__pycache__/
draft.txt
services/__pycache__/
celerybeat-schedule.db
.env
dump.rdb